<?xml version="1.0" encoding="utf-8"?>

<launch>
  
  <!-- Use YOLOv3 -->
  <arg name="network_param_file"         default="$(find darknet_ros)/config/icuas_yolov3.yaml"/>
  <arg name="image" default="red/camera/img_threshold" />


  <!-- Include main launch file -->
  <include file="$(find darknet_ros)/launch/icuas_darknet_ros.launch">
    <arg name="network_param_file"    value="$(arg network_param_file)"/>
    <arg name="image" value="$(arg image)" />
  </include>

</launch>
